* {
    box-sizing: border-box;   
    
}

body {
    margin: 0;    
    font-family: 'Poppins', sans-serif;            
    color: #fff;
}

nav {
    height: 70px;
    display: flex;    
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    background-color: #F55A5A;    
    align-items: center;     
    justify-content: center;              
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;    
}

.card {    
    font-size: 10px;
    flex: 0 0 auto;        
    display: flex;        
    color: #000;     
    position: relative;
}

.card-pic{
    width: 130px;
    height: 200px;
    border-radius: 12px;    
}

.card-left{
    padding: 10px 50px;
}

.card-right{
    line-height: 15px;   
    padding: 50px 0px;    
    margin-right: 20px;
}

.card-country{
    margin-right: 10px;
}

.card-maps{
    color: gray;
}

@media screen and (min-width: 800px) {
   .card{
       display: inline-block;
   }
    .card-right{
        line-height: 15px;   
        padding: 10px 0px;    
        padding-left: 60px;
        margin-right: 20px;
    }
}